<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>클릭 한 번으로 여행</title>
    <meta name="author" content="동네코딩" />
    <meta name="description" content="맛집지도 서비스" />
    <meta
      name="keywords"
      content="동네코딩, 맛집지도, 유튜버맛집, 맛집유튜버"
    />
    <!--/css/@font-face {.css"-->
    <link rel="stylesheet" href="/css/@font-face {.css" />
  </head>
  <body>
    <!--<%- include('top.ejs') %>-->
    <nav>
      <div class="inner">
        <div class="nav-container">
          <h1 class="nav-title">
            <form method="post" action="/home" class="nav-item">
              <input type = "submit" value = "One-Click Trip" class="nav-item" name = "" style="background-color:#aad7f5"/>
            </form>
          </h1>
          <form method="post" action="/home" class="nav-item">
            <input type = "submit" value = "홈" class="nav-item" name = "" style="background-color:#aad7f5"/>
          </form>
          <form method="post" action="/" class="nav-item">
            <input type = "submit" value = "자유 게시판" class="nav-item" name = "" style="background-color:#aad7f5"/>
          </form>
          <form method="post" action="/c" class="nav-item">
            <input type = "submit" value = "여행톡" class="nav-item" name = "" style="background-color:#aad7f5"/>
          </form>
          <form method="post" action="/userInfo" class="nav-item">
            <input type = "submit" value = "사용자 : <%= user.id %>" class="nav-item" name = "" style="background-color:#aad7f5"/>
          </form>
          <form></form>
          <a href="/process/logout" method="post" class="nav-item" >로그아웃</a>
          <a href="/public/report.html" method="post" class="nav-item" >신고하기</a>
        </div>
      </div>
    </nav>
    
    <main>    
        <section id="category">
            <div class="inner">
             <div class="category-container">
                 <h2 class="category-title">맛집지도 카테고리를 선택해보세요</h2>
                 <div class="category-list">
                 <button class="category-item" id="korea">한식</button>
                 <button class="category-item" id="china">중식</button>
                 <button class="category-item" id="japan">일식</button>
                 <button class="category-item" id="america">양식</button>
                 <button class="category-item" id="wheat">분식</button>
                 <button class="category-item" id="dessert">디저트</button>
                 <button class="category-item" id="sushi">회/초밥</button>
                 <button class="category-item" id="TouristAttraction">관광지</button>
                 </div>
             </div>
            </div>
            <div class="map_wrap">
              <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
          
              <div id="menu_wrap" class="bg_white">
                  <div class="option">
                      <div>
                          <form onsubmit="searchPlaces(); return false;">
                              여행지 : <input type="text" value="서울" id="keyword" size="15"> 
                              <button type="submit">검색하기</button> 
                          </form>
                      </div>
                  </div>
                  <hr>
                  <ul id="placesList"></ul>
                  <div id="pagination"></div>
              </div>
            </div>
        </section>
        <div id="map" class="inner"></div>
    </main>
    <%- include('script.ejs') %>
    


  </body>
</html>