<link rel="stylesheet" href="/css/@font-face {.css" />
<nav>
    <div class="inner">
      <div class="nav-container">
        <h1 class="nav-title">
          <form method="post" action="/home" class="nav-item">
            <input type = "submit" value = "One-Click Trip" class="nav-item" name = "" style="background-color:#aad7f5"/>
          </form>
        </h1>
        <form method="post" action="/home" class="nav-item">
          <input type = "submit" value = "홈" class="nav-item" name = "" style="background-color:#aad7f5"/>
        </form>
        <form method="post" action="/" class="nav-item">
          <input type = "submit" value = "자유 게시판" class="nav-item" name = "" style="background-color:#aad7f5"/>
        </form>
        <form method="post" action="/chatroom" class="nav-item">
          <input type = "submit" value = "여행톡" class="nav-item" name = "" style="background-color:#aad7f5"/>
        </form>
        <form></form>
        <form></form>
        <a href="/process/logout" method="post" class="nav-item" >로그아웃</a>
        <a href="/public/report.html" method="post" class="nav-item" >신고하기</a>
      </div>
    </div>
  </nav>