<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/write.css' />
  </head>
    <table class="nav_table">
        <nav class="nav">
            <form method="post" action="/home" class="nav-item">
                <input type = "submit" value = "홈" class="nav-item" name = ""/>
            </form>
            <form method="post" action="/" class="nav-item">
                <input type = "submit" value = "자유 게시판" class="nav-item" name = ""/>
            </form>
            <form method="post" action="/c" class="nav-item">
                <input type = "submit" value = "여행톡" class="nav-item" name = ""/>
            </form>
            <a href="/public/automatch.html" method="post" class="nav-item" >자동매칭</a>
            <a href="/public/report.html" method="post" class="nav-item" >신고하기</a>
            <a href="/process/logout" method="post" class="nav-item" >로그아웃</a>
            <span class="nav-indicator"></span>
        </nav>
    </table>  
    
    <br><br><br><br><br><br><br><br> <h2>글쓰기</h2><br>
    <form action="/board/write" method="post">
        <div class="textForm">
            <select id="region1" name="region1">
                <option name="여행지역선택" value="여행지역선택">여행지역선택</option>
                <option name="경기도"value="경기도">경기도</option>
                <option name="강원도"value="강원도">강원도</option>
                <option name="충청도"value="충청도">충청도</option>
                <option name="경상도"value="경상도">경상도</option>
                <option name="전라도"value="전라도">전라도</option>
            </select>
        </div> <br>
        <div class="textForm">
            <textarea name="region" cols="40" placeholder="여행지"></textarea>
            <!--<input name="title" type="text" >-->
        </div> <br>
        <div class="textForm">
            <textarea name="title" cols="140" placeholder="글 제목"></textarea>
            <!--<input name="title" type="text" >-->
        </div> <br>

        <div class="textForm">
            <textarea name="contents" rows="21" cols="140" placeholder="글 내용"></textarea>
        </div> <br>
        <input type="submit" class="button" value="작성 완료">
    </form>
    
</html>